
.eggset{
    width: 50%;
}

.text1{
    color: white;
    line-height:35px;
    width: 30%;
}


.Frame{
    width: 100%;
    display: flex;
}

.Rightbox{
    background-color:rgb(26, 25, 25);
    border-radius: 5%;
    width:90%;
    height:10%;
    margin:2%;
    display: flex;
    align-items: center;
    margin-top: 6%;
    justify-content: center;
}

.Rightbox2{
    background-color:rgb(26, 25, 25);
    border-radius: 5%;
    width:90%;
    height:40%;
    margin:2%;
    align-items: center;
    margin-top: 6%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Rightbox3{
    background-color:rgb(26, 25, 25);
    border-radius: 5%;
    width:90%;
    height:23%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row;
}

.button1{
    background-color: rgb(32, 65, 122);
    color: white;
    padding:12px;
    font-size: 0.8vmax;
    border-radius: 8px;
    width:60%;
    height: 45%;
    margin:5%;
    margin-right: 2%;
    
}

.combobox{
    width: 70%;
    height: 10%;
    background-color: darkgray;
    color: gray;
    border-radius: 8px;
    margin: 2%;
}
.input{
    background-color: darkgray;
    color: gray;
    border-radius: 8px;
    height: 30%;
}

.buyegg_popup{
    
    height: 100%;
    animation: up 1s  0s;
}
@keyframes up{
    0%{
        opacity: 0%;
        transform: translate3d(0, 100%, 0);
    }
    70%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
        transform: translateZ(0);
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}

.popup_comment{
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.ReactModal__Overlay--after-open{
    margin: 30vh 40vw;
    border-radius: 20px;
}

.close{
    display: flex;
    justify-content: flex-end;
    height: 10%;

}
.close:hover{
    cursor: pointer;
}

.close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50px;
    width: 15%;
}
.qrcode{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
