#Custom_background {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Custom_downDiv{
    background-color: pink;
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Custom_Select1Div{
    background-color: rgb(73, 73, 73);
    width:50%;
    height: 50%;
    padding-left: 3%;height: 67.2vh;
}
.Custom_Select1Div:hover{
    background-color: rgb(53, 53, 53)
}
.Custom_Select2Div{
    background-color: rgb(161, 113, 0);
    width:50%;
    height: 67.2vh;
    padding-left: 3%;
}
.Custom_Select2Div:hover{
    background-color: rgb(115, 80, 0);
}

#Custom_container1 {
    position:relative;
    margin-top: 30px;
    width:85%;
}
#Custom_container2 {
    position:relative;
    margin-top: 30px;
    width:85%;
}

.Custom_title1{
    color:#ededed;
    font-weight: 800;
    font-size: 3vw;
    z-index: 1;
    padding: 25px;
}
.Custom_title2{
    color:#292929;
    font-weight: 800;
    font-size: 3vw;
    z-index: 1;
    padding: 25px;
}

.Custom_box{
    font-size:15px;
    line-height:30px;
    padding: 25px;
    border-radius: 15px;
    margin-top:1%;
    display: flex;
    flex-direction: column;
}




.Custom_button {
    color:#fff;
    border:3px solid transparent;
    border-radius:50px;
    font-size: 15px;
    padding:5px 20px 5px 20px;
    width:52%;
    margin-top: 3%;
    border-color: #be8e00;
    border-width: 3px;
    background-color: rgb(73, 73, 73);
}
  .Custom_button:hover {
   background-color: #be8e00;
  }


