#Custom_background {
    background-color: black;
    color: white;
    padding-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#Custom_container1 {
    position:relative;
    margin-top: 30px;
    width:85%;
}
#Custom_container2 {
    position:relative;
    margin-top: 30px;
    width:85%;
}

.Custom_title{
    position:absolute;
    top:0;
    left:15px;
    color:lightgoldenrodyellow;
    font-weight: 800;
    font-size: 25px;
    z-index: 1;
}

.Custom_box{
    font-size:15px;
    line-height:30px;
    background-color: rgb(38,38,38);
    padding: 25px;
    border-radius: 15px;
    position: relative;
    margin-top:20px;
}

/* .Custom_button{
    background-color: rgb(191,144,0);
    color: white;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: 0px;
    position: absolute;
    bottom:0;
    right:0;
    margin:15px;
} */



.Custom_button {
    color:#fff;
    border:3px solid transparent;
    border-radius:50px;
    font-size: 15px;
    padding:5px 20px 5px 20px;
    margin:15px;
    position: absolute;
    right: 0;
    bottom:0;
    background:
      url(https://upload.wikimedia.org/wikipedia/commons/8/89/HD_transparent_picture.png) padding-box fixed,
      linear-gradient(-45deg, #ffbf00 0%, #987301 100%) border-box;
  }
  .Custom_button:hover {
    background:
    linear-gradient(-45deg, #ffc003 0%, #775900 100%) border-box;

  }


