.FullScreen{
    width:100vw;
    height:100vh;
}
.main-Div {
    width: 90%;
    height: 40vmax;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    
    margin-left: 8%;
    background-color: rgb(30, 30, 30);
    align-items: center;
    justify-content: center;
    margin-bottom:2%
    

}

img {
    padding: 0px;
}




.Character_back {
    width: 380px;
    height: 380px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.Character_back::after {
    content: "";
    padding-bottom: 100%;
}


.Character-1-card {
    position: absolute;
    width:25%
}

.Character-1-Cvs {
    position: absolute;
    width:8.5%;
    margin-top: 180px;
    margin-left: 210px;
}

.Character-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}



.RightPanel {
    width: 57%;
    overflow-y: auto;
    height: 82%;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-left:2%;
    padding-left: 2%;
    justify-content: center;
    margin-bottom: 1%;
}

.SideBtnText{
            background-Color: rgb(30, 30, 30);
            border-Radius: 0.5vmax;
            
            width: 50%;
            height: 50%;
            font-Size:0.8vmax;
    color: rgb(158, 158, 158);
}

.SideBtn {
   
    width: 20vmax;
    height: 11vmax;
    border-radius: 10px;


}


.Card {
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    width: 28%;
    margin: 1vmax;
    opacity: 90%;
}

.nftBtn{
    width: 10vmax;
    border:0px;
    height: 2.5vmax;
    background-color: rgb(210, 181, 63);
    border-radius: 8px;
    color: rgb(45, 45, 45);
    font-Size:1vmax;
    font-weight: 1000;
    margin-left: 2%;
    
}

.combo{
    width: 13vmax;
    border:0px;
    height: 2.5vmax;
    background-color: rgb(68, 68, 68);
    color: rgb(208, 208, 208);
    font-size:0.8vmax;
    border-radius: 8px;
}




