.donate_back{
    width: 100vw;
    height: 92vh;
    background-color: black;
    
}
.donate{
    display: flex;
    flex-direction: row-reverse;
}

.slide_back1{
    height: 25%;
    position: absolute;
    animation: slide1 300s linear infinite;
}
@keyframes slide1 {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-1800px);
    }
    100%{
        transform: translateX(0px);
    }
  }

  .slide_back2{
    height: 25%;
    position: absolute;
    animation: slide2 300s linear infinite;
}
@keyframes slide2 {
    0% {
        transform: translateX(-1800px);
    }
    50%{
        
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1800px);
    }
  }

.donate_rapper{
    position: absolute;
    width : 65%;
    height : 75vh;
    background: #292929;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.donate_rapper_title{
    width:40%;
    height: 100vh;
    text-align: center;
    background-color: rgb(27, 27, 27);
    opacity: 80%;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 0%;
      width: 0%
    }
  
    to {
      margin-left: 0%;
      width: 40%;
    }
  }

.donate_rapper_nft{
    position: absolute;
    width: 25%;
    border-radius: 3%;
    position: absolute;
    right: 55%;
    top:25%;
    animation-duration: 3s;
    animation-name: showslow;
}


@keyframes showslow {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
  }
.donate_text{
    font-size: 5vmax;
    margin:2vmax;
    margin-left: 17%;
    margin-right: 15%;
    margin-top: 18%;
}

.donate_fandom_name{
    font-size: 7vmax;
    text-align: left;
    
    font-weight: 700;
    
    color:rgb(255, 233, 194);
    margin-bottom: 1vmax;
}


.donate_fandom_content{
    font-size: 0.8vmax;
    margin-top: 3vmax;
    
    text-align: left;
    
    
    color:rgb(172, 160, 140);
}

.donate_home_button{
    position: absolute;
    width: 5vmax;
    height : 2vmax;
    background-color: rgb(107, 107, 107);
    color: rgb(172, 160, 140);
    font-size: 0.9vmax;
    border-radius: 30%;
    border: none;
    right: 65.5%;
    bottom: 5%;
} 



/* 
.donate_title_balloon{
    width : 5%
}

.donate_rapper_imgrap{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}



.donate_rapper_img{
    width: 45%;
    border-radius: 10%;
    position: relative;
    text-align: center;
    color: black;
}

.donate_rapper_text {
    font-size: 13px;
}

#donate_rapper_img {
    width:40%;
    position: absolute;
    filter: grayscale(100%);
    top: 80%;
    right: 35%;
    transform: translate(-0%, -35%);
}

.donate_button_rapper{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 0% 10% 0% 0%;
}

.donate_home_button{
    width: 7%;
    height : 65%;
    background-color: rgb(191,144,0);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
} */