.Back{
  background-color: rgb(0, 0, 0);
  color: "red";
  padding: "10%";
}

.ChartBox{
  background-color: rgb(0, 0, 0);
  margin-left: 20%;
  margin-bottom: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3.5%;

}

.font{
  color: rgb(158, 158, 158);
  
  margin-left:30%;
}

.History_img{
  width: 100%;
}


#History_btn{
  background-color: rgb(209, 168, 43);
  color: white;
  padding:12px;
  border-radius: 10px;
  width:20%;
  height: 6vh;
  margin-left: 40%;
}