#poster_div{
    padding : 5% 15% 5%;
    background-color: black;
}
#poster_img{
    width : 100%;
}

.Introduction_slider_div{
    background-color: black;
    padding: 4%;
}

.Introduction_slick-dots{
    background-color: white;
}

.Introduction_SlideImg{
    padding-left:13%;
   width: 80%;
}

.Introduction_slider_div .slick-slider {
    width: 100%;
}