.medal_section{
    width: 100%;
    height :50vh;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: radial-gradient(circle,#351C01 30%, black);
    padding-left: 10%;
    padding-right: 10%;
}


.second{
    width : 10vw;
    height :50vh;
    display: flex;
    align-items: center;
}

.first{
    width : 15vw;
    height :50vh;
    display: flex;
    align-items: center;
}
.rapper{
    
    vertical-align: middle;
    text-align: center;

}
.img{
    width: 100%;
}

.medal{
    width : 30%;
    padding-bottom: 10%;
}

.nickname{
    color: white;
}

.klay{
    color : white;
}


.Market_card {
    border: 5px solid red;
    padding: 1px;
    margin-top:15px;
    color: white;
    
}

.Market_cardtext {
    font-size: 20px;
    color: white;
}