.modal__container{
    width: 80%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
}

.modalbox{
    width: 50%;
    background-color: rgb(31, 31, 31);
    border-radius:5px ;
    height: 80%;
    position:absolute;
    top:8%;
    opacity: 90%;
}

.modal_activebtn{
            position: relative;
            border-width: 0;
            background-color: rgb(191,144,0);
            border-radius: 3px;
            color: white;
            margin-right: 7%;
        }
        .modal_unactivebtn{
            position: relative;
            border-width: 0;
            background-color: rgb(54, 54, 54);
            border-radius: 3px;
            color: white;
            margin-right: 7%;
        }

.color_Btn{
    width:15%;
    height:30px;
    border-radius: 50%;
    border-width: 0;
    margin: 1%;
}
   
.input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:15%;
    height:30px;
    background-color: transparent;
    border-color: white;
    border-width: 3px;

}
.input.input::-webkit-color-swatch{
    border-radius: 50%;
    border:none;
}