.Tutorial_container {
    position: relative;
    width: 50vw;
    height:50%;
    padding: 0%;
}

.hover {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:10;
}

.Tutorial_slider_div {
    padding:3% 7%;
}

.Tutorial_slider_div .slick-slider{
    width: 100%;
}

.Tutorial_slider_div .slick-slider .slick-list{
    padding: 0%;
}

.Tutorial_hover_img{
    width: 100%;
    padding: 0% 17%;
    height: 100%;
}

.Tutorial_page_img{
    width: 100%;
    padding: 0% 17%;
}