.container {
    position: relative;
    width: 50vw;
    height:50%;
}

.hover {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:10;
}

.slider_div {
    padding-left:10%;
    padding-right:10%;
}